html,
body {
    margin: 0;
    background-color: #282828;
    position: relative;
    min-height: calc(100vh - 40px);
}

.hdn{
    display:none;
}

#projector {
    width: 100%;
    padding-bottom: 60px;
}

#clip {
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 2%;
}

#motorcortex-tools{
    position: absolute;
    width: calc(100% - 40px);
    z-index: 999;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms linear 2500ms, color 0ms linear 0ms;
    background: #282828;
    height: 30px;
    overflow: visible;
}

#motorcortex-tools.mac .os-hotkey::before {
  content: "⌘";
}

#motorcortex-tools .os-hotkey::before {
  content: "ctrl";
}

#motorcortex-tools #json-editor{
    position: fixed;
    height: calc(100vh - 250px);
    width: calc(50vw);
    top: 80px;
    left: 25vw;
    background: rgba(50,50,50,0.9);
    z-index: 30;
    border: 1px solid #888;
    padding: 15px;
    color: #888;
    display:none;
    border-radius: 15px;
}

#motorcortex-tools #json-editor.open{
    display: block;
}

#motorcortex-tools #json-editor .title{
    height: 30px;
    width: 100%;
    color: #aaa;
}

#motorcortex-tools #json-editor .editor{
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    margin-bottom: 20px;
    left: -10px;
}

#motorcortex-tools #json-editor .error-container {
    position: absolute;
    bottom: 57px;
    background: rgba(255,255,255,0.05);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #FF8888;
    border-top: 1px #FF8888 solid;
    border-bottom: 1px #FF8888 solid;
    left: 0;
}

#motorcortex-tools #json-editor .buttons{
    height: 30px;
    width: 100%;
}

#motorcortex-tools #json-editor .buttons .action-btn{
    display: inline-block;
    /* border: 1px solid #888; */
    margin-right: 10px;
    padding: 2px 10px 0px 0px;
    cursor:pointer;
    top: -10px;
    position: relative;
}

#motorcortex-tools #json-editor .buttons .action-btn:hover{
    color: whitesmoke;
    border-color: whitesmoke;
}

#motorcortex-tools #json-editor .buttons .action-btn .shortkeys{
    font-size: 11px;
    text-align: right;
    width: 100%;
    position: relative;
    /* top: 2px; */
    opacity: 0;
    color: #aaa;
}

#motorcortex-tools #json-editor .buttons .action-btn:hover .shortkeys{
    opacity: 1;
}

#motorcortex-tools #json-editor .buttons .action-btn .item-title{
    top: -7px;
    position: relative;
}

#motorcortex-tools .border{
    border-top: 1px solid #282828;
    width:100%;
    position: absolute;
    bottom: 49px;
    left: 0;
}

#motorcortex-tools *{
    transition: all 300ms linear 2500ms, color 0ms linear 0ms;
}

#motorcortex-tools div#motorcortex-logo{
    display: inline-block;
    background: #282828;
    position:absolute;
    padding: 0 0px 20px 35px;
    z-index: 10;
    margin-right: 10px;
    cursor: pointer;
    transform: scale(0.8);
    transform-origin: bottom center;
    top: -6px;
    left: -6px;
}

#motorcortex-tools div#menu{
    display: inline-block;
    transform: translateX(-100%);
    position: relative;
    top: 6px;
}

#motorcortex-tools div#right-menu{
    position: absolute;
    color: #888;
    right: 0px;
    bottom: 0px;
    font-size: 30px;
    z-index: 9;
}

#motorcortex-tools div#right-menu{
    opacity: 0;
}
#motorcortex-tools:hover div#right-menu{
    opacity: 1;
}
#motorcortex-tools div#right-menu .item .popup-menu .pm-item.disabled,
#motorcortex-tools.not-loggedin div#right-menu .item .popup-menu .pm-item.depends-on-login{
    color: #555;
    cursor: default;
}
#motorcortex-tools div#right-menu .item .popup-menu .pm-item.disabled:hover,
#motorcortex-tools.not-loggedin div#right-menu .item .popup-menu .pm-item.depends-on-login:hover{
    background: #444;
    color: black;
}
#motorcortex-tools div#right-menu .item .popup-menu{
    position: absolute;
    z-index:11;
    bottom: 63px;
    right: 4px;
    padding: 10px;
    font-size: 16px;
    width: 250px;
    background: #323232;
    display: none;
    border-radius: 6px;
}
#motorcortex-tools div#right-menu .item .popup-menu .pm-item .details,
#motorcortex-tools.not-loggedin div#right-menu .item .popup-menu .pm-item.depends-on-login .details{
    font-size: 14px;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
}
#motorcortex-tools div#right-menu .item .popup-menu .pm-item.disabled:hover .details,
#motorcortex-tools.not-loggedin div#right-menu .item .popup-menu .pm-item.depends-on-login:hover .details{
    max-height: 48px;
}

.arrow{
    right: 4px;
    top: -20px;
    position: absolute;
    display:none;
    padding-left: 50px;
}

.actual-arrow{
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 22px solid #323232;
}

#motorcortex-tools div#right-menu .item:hover .arrow,
#motorcortex-tools.not-loggedin div#right-menu .item:hover .arrow.depends-on-login.needs-not-loggedin{
    display: block;
}
#motorcortex-tools.not-loggedin div#right-menu .item:hover .arrow.depends-on-login{
    display:none;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item{
    color: #888;
    position: relative;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item .shortkeys{
    position: absolute;
    right: 12px;
    top: 15px;
    font-size: 11px;
    color: #323232;
}

#motorcortex-tools div#right-menu .item:hover .popup-menu,
#motorcortex-tools.not-loggedin div#right-menu .item:hover .popup-menu.depends-on-login.needs-not-loggedin{
    display: block;
}
#motorcortex-tools div#right-menu .item:hover .popup-menu.depends-on-login.needs-not-loggedin,
#motorcortex-tools.not-loggedin div#right-menu .item:hover .popup-menu.depends-on-login{
    display: none;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item{
    padding: 8px 10px;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item-title{
    display: inline-block;
    bottom: 6px;
    font-size: 16px;
    position: relative;
    padding: 0 6px;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item:hover{
    background: #777;
    color: black;
}

#motorcortex-tools div#right-menu .item .popup-menu .pm-item:hover .shortkeys{
    color: black;
}

#motorcortex-tools div#right-menu .item:hover .popup-menu{
    color: #777;
}

#motorcortex-tools #right-menu div.item{
    padding-left: 20px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: relative;
    top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}


#motorcortex-tools.not-loggedin #right-menu div.item#avatar{
    color: #555;
}

#motorcortex-tools:hover #right-menu{
    margin-right: 20px;
}

.material-icons-outlined.md-30{
    font-size: 35px;
}
.material-icons-outlined.md-16{
    font-size: 16px;
}

#motorcortex-tools #name{
    color: #888;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 12px;
    width: 100vw;
    text-align:center;
    z-index: 8;
    opacity: 0;
}

#motorcortex-tools div.item, #motorcortex-tools div.item a{
    display: inline-block;
    color: #888;
}

#motorcortex-tools #menu div.item a span{
    position: relative;
    top:3px;
    opacity: 0.3;
}
#motorcortex-tools #menu div.item{
    padding: 0 10px;
}
#motorcortex-tools #menu div.item:first-child{
    padding-left: 20px;
}
#motorcortex-tools #menu div.item a{
    text-decoration: none;
    font-size: 16px;
    color: #888;
    position: relative;
    top: 0px;
}
#motorcortex-tools:hover div.item:hover, 
#motorcortex-tools:hover #menu div.item a:hover, 
#motorcortex-tools.not-loggedin:hover #right-menu div.item#avatar:hover,
#motorcortex-tools:hover #right-menu div.item:hover{
    color: whitesmoke;
}

#motorcortex-tools:hover{
    background: #323232;
    transition-delay: 0ms;
}

#motorcortex-tools:hover .border{
    border-color: #888;
}

#motorcortex-tools:hover *{
    transition-delay: 0ms;
}

#motorcortex-tools:hover #menu{
    transform: translateX(30%);
    z-index:9;
}

#motorcortex-tools:hover #motorcortex-logo{
    transform: scale(1);
    background: #323232;
    top: 10px;
    padding-bottom: 0px;
}

#motorcortex-tools:hover #name{
    opacity: 1;
    bottom: 6px;
}

#motorcortex-tools:hover div#right-menu{
    transform: translateX(0%);
}