html,
body {
    margin: 0;
    background-color: #282828;
    position: relative;
    min-height: calc(100vh - 30px);
}

#projector {
    width: 100%;
    padding-bottom: 60px;
}

#clip {
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 2%;
}

#motorcortex-tools{
    position: absolute;
    width: calc(100% - 40px);
    z-index: 999;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 400ms;
    background: #282828;
    border-top: 1px solid #282828;
    transition-delay: 1000ms;
    height: 30px;
}

#motorcortex-tools *{
    transition: all 400ms;
    transition-delay: 1000ms;
}

#motorcortex-tools div#motorcortex-logo{
    display: inline-block;
    background: #282828;
    position:absolute;
    padding: 0 0px 20px 35px;
    z-index: 3;
    margin-right: 10px;
    cursor: pointer;
    transform: scale(0.8);
    transform-origin: bottom center;
    top: -6px;
    left: -6px;
}

#motorcortex-tools div#menu{
    display: inline-block;
    transform: translateX(-100%);
    position: relative;
    top: 6px;
}
#motorcortex-tools div.item{
    display: inline-block;
    padding: 0 10px;
    color: #aaaaaa;
}
#motorcortex-tools div.item a{
    text-decoration: none;
    font-size: 16px;
    color: #888;
}
#motorcortex-tools div.item a:hover{
    color: whitesmoke;
}

#motorcortex-tools:hover{
    background: #323232;
    border-color: #888;
    transition-delay: 0ms;
}

#motorcortex-tools:hover *{
    transition-delay: 0ms;
}

#motorcortex-tools:hover #menu{
    transform: translateX(30%);
}

#motorcortex-tools:hover #motorcortex-logo{
    transform: scale(1);
    background: #323232;
    top: 13px;
    padding-bottom: 0px;
}
