html,
body {
    margin: 0;
    background-color: #282828;
}
section {
    height: 100%;
    width: 100%;
    position: absolute;
}
#clip {
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 40px;
}

#tools-container{
    position:relative;
    margin-top: 40px;
    height: 30px;
}

#motorcortex-tools{
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
    bottom: 0;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms;
    background: #282828;
}
#motorcortex-tools div#motorcortex-logo{
    display: inline-block;
    background: #282828;
    position:absolute;
    padding: 0 0px 20px 16px;
    z-index: 3;
    margin-right: 10px;
    cursor: pointer;
    transition: all 300ms;
    transform: scale(0.8);
    transform-origin: bottom center;
    top: -6px;
    left: -6px;
}

#motorcortex-tools div#menu{
    display: inline-block;
    transform: translateX(-100%);
    transition: all 300ms;
}
#motorcortex-tools div.item{
    display: inline-block;
    padding: 0 10px;
    color: #aaaaaa;
}
#motorcortex-tools div.item a{
    text-decoration: none;
    font-size: 16px;
    color: #888;
}
#motorcortex-tools div.item a:hover{
    color: whitesmoke;
}